<link rel="stylesheet" href="{{ asset('category.css') }}">
{% include 'header.html.twig' %}

<div class="breadcrumbs">
    <a href="/">Home</a> &nbsp;&#47;&nbsp; 
    <a href="{{ path('category', {'id': category.id}) }}">{{ category.name }}</a>
</div>

<div class="container">
    <div class="main">
        <h1>{{ category.name }}</h1>
        {% if posts|length > 0 %}
            
            <div class="articles-preview">
                {% for post in posts %}
                    <div class="article-preview-container">
                        <a class="article-preview" href="{{ path('post', {'id': post.id }) }}">
                            <img src="{{ asset(post.banner) }}" alt="{{ post.name }} Thumbnail">
                            <div class="article-preview-info">
                                <h2 class="article-preview-title two-line">{{ post.name }}</h2>
                                <p class="article-preview-category">{{ post.category.name }}</p>
                                <p class="article-preview-date">{{ post.crdate|date('F j, Y') }}</p>
                                {% if user_data.role is defined and user_data is not null %}
                                 {% if user_data.role == 'admin' or 'editor' %}
                                    {# Admin/Writer Controls #}
                                    <div class="admin-controls">
                                        {# Edit Post Button - Links to the edit post page for each post #}
                                        <a href="{{ path('editpost', {'id': post.id}) }}">Edit Post</a>
   
                                        {# Feature Post Button - Allows admin/writer to feature the post #}
                                        {#{% if not post.featured %}
                                            <form action="{{ path('feature_post', {'id': post.id}) }}" method="post">
                                                <input type="submit" value="Feature Post">
                                            </form>
                                            #}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if user_data.role is defined and user_data.role == 'admin' %}
                                    <form action="{{ path('feature_post', {'id': post.id}) }}" method="post" style="display:inline;">
                                        <button type="submit">Feature Post</button>
                                    </form>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <p>No posts available in this category.</p>
        {% endif %}
    </div>
</div>

{% include 'footer.html.twig' %}